* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;

}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-left {
    width: 710px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.box-left h1 {
    width: 50%;
    font-size: 65px;
    font-weight: 400;
    line-height: 85px;
    color: #5d5d7d;
}

.box-left p {
    width: 82%;
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
    text-align: start;
    color: #9e9eb1;
}

.box-left button {
    width: 269px;
    height: 62px;
    border-radius: 32px;
    border: none;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    background-color: #9499ea;
    box-shadow: 0px 10px 24px 0;
    cursor: pointer;

    &:active {
        color: #5d5d7d;
    }
}

.box-right {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 25px;
    background-color: #e5e5ea;
    position: relative;
    left: 160px;
}


.box-right a {
    font-size: 31px;
    font-weight: 400;
    text-decoration: none;
    color: #5d5d7d;

    &:hover {
        color: #afafbe;
    }
}

.box-right ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
    margin-bottom: 25%;
    list-style: none;

}

.box-right img {
    width: 95%;
    position: relative;
    right: 36%;
    bottom: 60px;

}



@media screen and (max-width:1050px) {

    body {
        height: auto;
        justify-content: center;
    }

    main {
        width: auto;
        height: auto;
        flex-direction: column;
        gap: 80px;
        padding: 40px 15px 0;
    }

    .box-left {
        width: auto;
        align-items: center;
    }

    .box-left h1 {
        width: 80%;
        font-size: 55px;
        text-align: center;
    }

    .box-left p {
        width: 89%;
        font-size: 22px;
        line-height: 35px;
        text-align: center;

    }

    .box-right {
        width: 100vw;
        height: auto;
        align-items: center;
        gap: 0px;
        padding: 0px;
        position: static;
    }

    .box-right a {
        display: none;
    }

    .box-right img {
        width: 240px;
        position: relative;
        right: 0;
        bottom: 80px;
    }

}